[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:jerem-ma/get_next_line.git
[submodule "libft"]
	path = libft
	url = git@github.com:jerem-ma/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:jmaia-42-projects/42-ft_printf.git
